<h2>Edit the Song</h2>
<% if @song.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @song.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@song) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  
  <%= f.label :released, "Is the song released yet? (true or false)" %>
  <%= f.check_box :released %>
  
  <%= f.label :release_year %>
  <%= f.text_field :release_year %>
  
  <%= f.label :artist_name %>
  <%= f.text_field :artist_name %>
  
  <%= f.label :genre %>
  <%= f.text_field :genre %>

  <%= f.submit %>
<% end %>