<h1>Index</h1>
<% @songs.all do |song| %>
<ul>
   <li>Title: <%= song.title %></li>
   <li>Released: <%= song.released %></li>
   <li>Release Year: <%= song.release_year %></li>
   <li>Artist Name: <%= song.artist_name %></li>
   <li>Genre: <%= song.genre %></li>
   <li>Song Link: <%= link_to "View Song", song_path(@song) %></li>
</ul>
<% end %>