<h1>Songs:</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist Name</th>
            <th>Release Year</th>
            <th></th>
            <th></th>
        </tr>
    <thead>
    <tbody>
    <%@songs.each do |song|%>
    <tr>
        <td><%= link_to song.title, song_path(song)%></th>
        <td><%= song.artist_name%></td>
        <td><%= song.release_year%></td>
        <td><%= link_to "Edit", edit_song_path(song) %></td>
        <td><%= link_to "Delete", song_path(song), method: :delete %></td>
    <%end%>
    </tr>
    </tbody>
</table>
<p><%= link_to "Add New Song", new_song_path %></p>
