<table>
    <thead>
        <tr>
            <th>Song title</th>
            <th>Released</th>
            <th>Release year</th>
            <th>Artist name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <% @songs.each do |song| %>
            <tr>
                <td><%= link_to song.title, song %></td>
                <td><%= song.released %></td>
                <td><%= song.release_year %></td>
                <td><%= song.artist_name %></td>
                <td><%= song.genre %></td>
            </tr>    
        <% end %>
    </tbody>
</table>