<h1>All Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Released?</th>
      <th>Release Year</th>
      <th>Artist Name</th>
      <th>Genre</th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
    <tr>
      <td><%= link_to song.title, song_path(song) %></td>
      <td><%= song.released ? "Yes" : "No" %></td>
      <td><%= song.release_year %></td>
      <td><%= song.artist_name %></td>
      <td><%= song.genre %></td>
    </tr>
    <% end %>
  </tbody>
</table>
