<%@songs.each do |s|%>
<table>
  <tbody>
  <tr>
    <td><%=s.title%></td>
    <td><%=s.released%></td>
    <td><%=s.release_year%></td>
    <td><%=s.artist_name%></td>
    <td><%=s.genre%></td>
  </tr>
  </tbody>
</table>
<%end%>