<h1>Create a New Song</h1>
<%= form_for(@song) do |f| %>
    <% if @song.errors.any? %>
        <div id="error_explanation">
    <h2>
        <%= pluralize(@song.errors.count, "error") %> prohibited this post from being saved:
    </h2>
    <ul>
    <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
    <% end %>
    <div class="field_with_errors">
    <%= f.label :song_title %><br>
    <%= f.text_field :title %><br>
    </div>
    <div class="field_with_errors">
    <%= f.label :song_released %><br>
    <%= f.check_box :released %><br>
    </div>
    <div class="field_with_errors">
    <%= f.label :song_release_year %><br>
    <%= f.text_field :release_year %><br>
    </div>
    <div class="field_with_errors">
    <%= f.label :song_artist_name %><br>
    <%= f.text_field :artist_name %><br>
    </div>
    <div class="field_with_errors">
    <%= f.label :song_genre %><br>
    <%= f.text_field :genre %><br>
    </div>
    <%= f.submit %>
<% end %>