<%= form_for @song do |s| %>
  <%= s.label :title, "Song Title:"%>
  <%= s.text_field :title %><br>

  <p><%= s.label :released, "Has it been released?" %><br>
  <%= s.radio_button :released, "true" %> True
  <%= s.radio_button :released, "false" %> False<br>
</p>

  <%= s.label :release_year, "Release Year" %><br>
  <%= s.number_field :release_year %><br>

  <%= s.label :artist_name, "Artist Name:"%><br>
  <%= s.text_field :artist_name %><br>

  <%= s.label :genre, "Genre:" %><br>
  <%= s.text_field :genre %><br><br>

  <%= s.submit "Submit" %><br>
<% end %>
