<% if @song.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(@song.errors.count, "error") %>
        prohibited this song from being saved:
    </h2>

    <ul>
        <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>

<h1><%= @song.title %></h1>
<br>
<%= @song.released %><br>
<%= @song.release_year %><br>
<%= @song.artist_name %><br>
<%= @song.genre %>