<h2><%= @song.title %></h2>
<%= link_to "edit", edit_song_path(@song) %>

<%= @song.released %>
<%= @song.release_year %>
<%= @song.artist_name %>
<%= @song.genre %>

<%= form_tag song_path(@song), method: "delete" do %>
  <%= submit_tag "Delete #{@song.title}" %>
<% end %>
