<h1><%= @song.title %></h1>
  Artist: <%= @song.artist_name %><br>
  Genre: <%= @song.genre %><br>
  Released: <%= @song.released %><br>
  Year Released: <%= @song.release_year %><br>

<br>
<%= button_to "Edit Song", edit_song_path(@song), :method => :get %>
