<h1><%= @song.title  %></h1>
<ul>
  <li>Artist: <%= @song.artist_name %></li>
  <li>Release Year: <%= @song.release_year %></li>
  <li>Released: <%= @song.released %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>

<%= link_to "Edit #{@song.title}", edit_song_path %>
|
<%= link_to "Delete", @song, method: :delete %>
<br><br>
<%= button_to "Delete Song", song_path(@song), method: :delete %>