<h1>Title:</h1>
<h2><%= @song.title %></h2>
Year Release:
<%= @song.release_year %><br>
Artist Name:
<%= @song.artist_name %><br>
Genre:
<%= @song.genre %><br>

<%= link_to "BACK", '/' %>
<%= link_to "Edit", edit_song_path(@song) %><br>

<%= form_tag song_path(@song.id), method: "delete" do %>
  <%= submit_tag "Delete" %><br>
  <% end %>
