<h1> <%= @song.title %> </h1>
by <h3><%= @song.artist_name %></h3>
<% if @song.released? %>
  <p>
    Released in
    <strong><%= @song.release_year %></strong>
  </p>
<% end %>

<p>
  <strong>Genre:</strong>
  <%= @song.genre %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %>
