<h1><%= @song.title %></h1>
<p>Artist: <%= @song.artist_name %></p>
<p>Genre: <%= @song.genre %></p>
<% if @song.released %>
    <p>Release Year: <%= @song.release_year %></p>
<% else %>
    <p>Unreleased</p>
<% end %>

<%= button_to "Edit", edit_song_path(@song), method: :get %>
<%= button_to "Delete", song_path(@song), method: :delete %>
