<h1><%= @song.title %></h1>
<h3><%= @song.artist_name %></h3>
<h3><%= @song.genre %></h3>
<h3><%= released ? "#{@song.release_year}" : "Unreleased" %></h3>

<%= link_to 'Delete', @song, method: :delete %>
